.product-card {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-content: flex-start;
    border-bottom: 1px solid #e1e4e6;
    height: 100px;

}

.product-link{
    color: #171717;    
    text-decoration:none;
}

.product-link:hover {
    color: #171717;
    text-decoration:none; 
}

.product-image {
    height: 60px;
    width: 60px;
    margin-left: 15px;
}

.product-stars {
    height: 25px;
    width: 60px;
    margin-left: 15px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}

.product-name {
    margin-left:15px;
    font-size: 15px;
    font-weight: 500;
    width:50%;
    text-align: left;
    max-height: 35px;
    overflow:hidden;
}

.consumer-info{
    display: flex;
    align-items: center;
    font-size: 15px;
    text-align: left;
    margin-left: 15px;    
}

.consumer-info .amount{
    margin-left: 3px;
    font-size: 20px;
}

.consumer-info .retailer-count {
    margin-left: 10px;
    font-size: 14px;
}

.product-info{
    display: none;
}



// iPad
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    .consumer-info .amount{
        order:1;
    }

    .info-container {
        height:100%;
        width:100%;
    }

    .product-info{
        display:block;
        margin-left:15px;
        color: #6E6E6E;
        font-size:13px;
        max-width: calc(100% - 200px);
        text-align: left;
    }
}