.product-card {
    margin-left: 15px;
    margin-right: 15px;
    background-color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap:wrap;
    align-content: flex-start;
    border-bottom: 1px solid #e1e4e6;
    height: 100px;
}

a { 
    text-decoration:none;
}

.product-link:hover {
    color: #171717;
    text-decoration:none; 
}

.product-image {
    height: 60px;
    width: 60px;
    margin-left: 15px;
}

.product-stars {
    height: 25px;
    width: 60px;
    margin-left: 15px;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.info-container {
    color: #171717;   
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    width: calc(100% - 150px);
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-name {
    margin-left:15px;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    overflow:hidden;
}

.consumer-info {
    display: flex;
    align-items: center;
    font-size: 15px;
    text-align: left;
    margin-left: 15px;    
}

.consumer-info .amount {
    margin-left: 3px;
    font-size: 20px;
}

.consumer-info .retailer-count {
    margin-left: 10px;
    font-size: 14px;
}

.product-info {
    display: none;
}

.compare-button {
    display:none;
}

// iPad
@media only screen 
and (min-device-width : 768px) { 
    .consumer-info .retailer-count{
        order:-1;
        margin-right:40px;
    }

    .info-container {
        height:100%;
        width:calc(100% - 200px);
    }

    .product-info{
        display:block;
        margin-left:15px;
        color: #6E6E6E;
        font-size:13px;
        text-align: left;
    }

    .compare-button {
        display: block;
        max-width: 125px;
        font-size: 15px;
        color: #FFFFFF;
        background-color: #2595DD;
        border:1px solid #2A6DAB;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
    }

    .product-card {
        margin-bottom: 5px;
        border-bottom: 2px solid #e1e4e6;
        width: 738px
    }
}

@media only screen 
and (min-device-width : 1000px) { 
    .product-card {
        width: 970px
    }
}

@media only screen 
and (max-device-width : 370px) { 
    .info-container {
        width: calc(100% - 80px);
    }
}