.product-card {
    margin-left: 15px;
    margin-right: 15px;
    background-color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap:wrap;
    align-content: flex-start;
    border-bottom: 1px solid #e1e4e6;
    height: 100px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

// iPad
@media only screen 
and (min-device-width : 768px) { 
    .product-card {
        margin-bottom: 5px;
        border-bottom: 2px solid #e1e4e6;
        width: 738px
    }
}

@media only screen 
and (min-device-width : 1000px) { 
    .product-card {
        width: 970px
    }
}